body
{
    background-color: #b981ea;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor{
    color:white;
    width: 70%;
    margin: 0 auto;
    background-color:#784f9c;
    border-radius: .4rem;
    -webkit-box-shadow: 1px 3px 10px 0px #000000;
    box-shadow: 1px 3px 10px 0px #000000;
}

.cabecera {
    padding: 1rem;
    color: white;
    font-size:2rem;
}
header h1{
  margin-left:1rem;
}
.contenedor p{

    padding: 0 1.5rem;
}

.contenedor footer {
    font-size: 1.5rem;
    color: rgb(212, 193, 230);
    text-align: center;
    padding: 1rem;
    background-color: #552488;
}

.leyenda-footer {
    display: block;
    font-size: .7rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: .5rem;
}